.clock {
    font-size: 60px;
    font-weight: 500;
    padding: 30px;
    min-width: 231px;

    transition: all 0.35s ease;
    border-radius: 3%;

    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3%;
}
